.project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-project {
    display: flex;
    align-items: end;
}

.video-container {
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%;  /* this keeps a 16:9 aspect ratio */
    height: 0;  
    max-width: 100%; 
  }

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.year {
    align-self: flex-start;
}

.view-project {
    display: flex;
    justify-content: flex-end;
}

.work-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.work-title-sub {
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}

.project-journey {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    padding-top: 2rem;
}